if: tag IS blank
language: node_js
node_js:
  - "lts/*"

cache:
  yarn: true

before_install:
  - wget http://downloads.sourceforge.net/ltp/lcov-1.13.tar.gz
  - tar -xvf lcov-1.13.tar.gz
  - cd lcov-1.13 && sudo make install
  - cd ..

install:
  - yarn install
  - yarn global add lerna codecov
  - lerna bootstrap

services: mongodb

jobs:
  include:
    - stage: test
      script: 
        - lerna run coverage
        - ./merge_lcov.sh
        - codecov

    - stage: publish
      if: tag IS blank AND branch = master AND type != pull_request
      script:
        - npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        - lerna publish --yes --canary=pre --skip-git --npm-client=npm
