language: node_js
node_js:
  - "lts/*"

cache:
  yarn: true

install:
  - yarn install
  - yarn global add lerna
  - lerna bootstrap

services: mongodb

jobs:
  include:
    - stage: test
      script: lerna run test

    - stage: publish
      if: tag IS blank AND branch = master AND type != pull_request
      before_install:
        
      script:
        - npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        - lerna publish --yes --canary=pre --skip-git --npm-client=npm --force-publish
