language: node_js
node_js:
  - "6"

cache:
  yarn: true

install:
  - yarn install
  - yarn lerna bootstrap

jobs:
  include:
    - stage: test
      script: yarn lerna run test

    - stage: publish
      if: tag IS blank AND branch = master AND type != pull_request
      script:
        - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" > .npmrc 
        - git checkout master
        - yarn lerna publish --yes --npm-client=npm
